* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    text-align: center;
}

section {
    padding: 35px 0;
}

.rolling-trans {
    border-right: 1px solid #8e8e8e;
}


.meeting-agenda {
    height: 200px;
    background-color: #c9c8c8;
    width: 550px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    border-color: #c9c8c8;
}

.text-summary {
    text-align: left;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.custom-card {
    margin-top: 30px;
    padding: 0 20px;
    overflow: auto;
}

.custom-textarea {
    height: 230px !important;
}

.meeting-cards {
    height: 500px;
    overflow-y: auto;
}

.title-cus {
    margin-bottom: 20px;
}





