* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    text-align: center;
}

body {
    background-color: #FFFFFF;
    text-color: black;
}

section {
    padding: 35px 0;
}

.rolling-trans {
    border-right: 1px solid #8e8e8e;
}


.meeting-agenda {
    height: 200px;
    background-color: #c9c8c8;
    width: 550px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    border-color: #c9c8c8;
}

.text-summary {
    text-align: left;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.custom-card {
    margin-top: 30px;
    padding: 0 20px;
    overflow: auto;
}

.custom-textarea {
    height: 230px !important;
}

.meeting-cards {
    height: 500px;
    overflow-y: auto;
}

.title-cus {
    margin-bottom: 20px;
}

.nfont {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    color: black;
}

.titling {
    letter-spacing: 2px;
    font-size: 32px;
}


.gradient-45deg-light-blue-teal {
    background: -webkit-linear-gradient(45deg, #4dd0e1 0%, #ffecb3 100%);
    background: linear-gradient(45deg, #4dd0e1 0%, #ffecb3 100%);
}
.gradient-45deg-light-blue-teal.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5);
}
.gradient-45deg-reverse {
    background: -webkit-linear-gradient(45deg, #26c6da 0%, #fffde7 170%);
    background: linear-gradient(45deg, #26c6da 0%, #fffde7 170%);
}
.gradient-45deg-reverse.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5);
}
.gradient-45deg-green {
    background: -webkit-linear-gradient(45deg, #00e676 0%, #1de9b6 170%);
    background: linear-gradient(45deg, #00e676 0%, #1de9b6 170%);
}
.gradient-45deg-green.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5);
}
.gradient-45deg-red {
    background: -webkit-linear-gradient(45deg, #e91e63 0%, #1de9b6 170%);
    background: linear-gradient(45deg, #e91e63 0%, #1de9b6 170%);
}
.gradient-45deg-red.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5);
}





